
.container-box {
    
    align-items: center, justify;
    padding: 20px;
    margin: 20px auto;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: aliceblue;
}
/* Post Layout */
.post-title {
    text-align: justify;
    width: 500px;
}
.post-description {
    text-indent: 100px;
    width: 500px;
    text-align: justify;
}
.form-control {
    width: 500px;
}


